$primary: #408E2F;
$primary-light: #9AD58E;
$primary-dark: #0C4700;

$secondary: #256F5C;
$secondary-light: #6FA698;
$secondary-dark: #003729;

$tertiary: #7B9F35;
$tertiary-light: #D4EE9F;
$tertiary-dark: #354F00;


.right {
    float:right;
}

.red {
    color:#FF0000;
}

.blue {
    color:#0000FF;
}

.green {
    color:$primary;
}

.large-stat {
    font-size: 2em;
    color: $tertiary;
}

.bot-panel {

    .panel-heading {
        background-color: $tertiary-light;
    }

    .panel-body {
    }
}

.change-directions {
    display:inline-block;
}


ul[rn-carousel] {
    width:400px;
    height:280px;
    margin: 0 auto;

    img {
        width:400px;
    }
}

div[rn-carousel-indicators] {
    text-align: center;
    
    span {
        color:$primary-light;
        font-size:1.5em;
    }

    span.active {
        color:$tertiary-dark;
    }
}


.journal {
    .media-left {
        vertical-align: middle;
        i.journal-type {
            font-size: 2.5em;
        }
    }
    
}