    <nvd3-line-chart
      data="graphs.temp"
      showXAxis="true"
      showYAxis="true"
      height="150"
      yAxisLabel="temp (F)"
      xAxisTickFormat="xAxisTickFormatFunction()"
      forcey="[60, 90]"
      tooltips="true"
      objectequality="true"
      color="tempColor()"
      api="tempApi"
      margin = "{left:75,top:10,bottom:0,right:30}"
      interactive="false"> <!-- This must be kept off or the page won't reload -->
    </nvd3-line-chart>

    <nvd3-line-chart
      data="graphs.humidity"
      showXAxis="true"
      showYAxis="true"
      height="150"
      yAxisLabel="humid"
      xAxisTickFormat="xAxisTickFormatFunction()"
      forcey="[0, 100]"
      color="tempColor()"
      tooltips="true"
      objectequality="true"
      margin = "{left:75,top:10,bottom:0,right:30}"
      interactive="false"> <!-- This must be kept off or the page won't reload -->
    </nvd3-line-chart>

    <nvd3-line-chart
      data="graphs.light"
      showXAxis="true"
      showYAxis="true"
      height="150"
      yAxisLabel="light"
      xAxisTickFormat="xAxisTickFormatFunction()"
      yDomain="[200, 1000]"
      color="tempColor()"
      tooltips="true"
      objectequality="true"
      margin = "{left:75,top:10,bottom:30,right:30}"
      interactive="false"> <!-- This must be kept off or the page won't reload -->
    </nvd3-line-chart>
