<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Growbot <small>v{{ardyhConf.version}}</small></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username || 'Menu'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/">Dashboard</a></li>
                <li><a href="#/journal">Journal</a></li>
                <li><a href="#/login">Logout</a></li>
            </ul>
            </li>
        </ul>
    </div>
    
</nav>