<ng-include src="'views/partials/header.html'"></ng-include>

<div class="row">
<div class="col col-sm-8 col-sm-offset-2">
    <div class="row">
        <div class="col col-sm-12">
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
            <div class="panel panel-default bot-panel">
                <div class="panel-heading">
                     <h3>{{current.botName}} - </h3> 

                        <span class="hidden-xs">temp </span><span class="large-stat" ng-show="units.temp === 'c'">{{current.temp | number: 1}} &deg;C</span>
                        <span class="large-stat" ng-show="units.temp === 'f'">{{celsius2fahrenheit(current.temp) | number: 1}}&degF</span>
                        
                        
                        &nbsp;&nbsp;<span class="hidden-xs">humid </span><span class="item item-text-wrap large-stat">
                            {{current.humidity | number: 1}}% 
                        </span>
                        
                        &nbsp;&nbsp;<span class="hidden-xs">light </span><span class="item item-text-wrap large-stat">
                            {{current.light | number: 0}} </span>
                        </span>
                        <div>
                            <small>Last updated {{current.timestamp}}</small>
                        </div>

                </div>

                <div class="panel-body">
                    

                    <div ng-if="false">
                        <button class="btn btn-default btn-small" ng-click='refreshSensorValues()'><span class="glyphicon glyphicon-refresh"></span></button>
                                                
                        <button class="btn btn-default btn-small" ng-click='captureImage()'><span class="glyphicon glyphicon-camera"></span></button>
                    </div>
                    <div bot-graphs></div>

                    <div>
                        <ul 
                            rn-carousel class="image" 
                            rn-carousel-controls 
                            rn-carousel-index="carouselIndex"
                        >
                          <li ng-repeat="image in images">
                            {{image}}
                            <div class="layer">
                                <a href="{{image}}" target="_blank"><img src="{{image}}"></img></a>
                            </div>
                          </li>
                        </ul>
                        <div rn-carousel-indicators ng-if="images.length > 1" slides="images" rn-carousel-index="carouselIndex"></div>
                    </div>
                </div><!-- end panel-body -->
            </div><!-- end panel -->

        </div>
    </div>
</div>
</div>

<div class="row">
 <div class="footer">
    <p class="text-center">Growbot by Solalla Web Services &copy;2015</p>
  </div>
</div>
