<ng-include src="'views/partials/header.html'"></ng-include>

<div class="row">
    <div class="col col-sm-8 col-sm-offset-2">
        <a href="#/log-form" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-plus-sign"></i> New Entry</a>
        <div ng-show="journal.length === 0">You have no journal entries.</div>
        

        <div class="media journal" ng-repeat="entry in journal.entries track by $index">
            
            <div class="media-left">
                <i class="{{type2icon(entry.type)}} journal-type" ng-style="type2color(entry.type);" ></i>
            </div>

            <div class="media-body">
                <h4>
                    {{entry.date | date:'mediumDate'}} {{entry.time | date:'mediumTime'}}
                    <span class="right">
                    <button ng-click="enditEntry(entry);" class="btn btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    &nbsp;
                    <button ng-click="deleteEntry(entry);" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                    </button>

                    </span>

                </h4>

                <small>{{entry.timestamp_reverse}}</small>
                <p>{{entry.entry}}</p>
            </div>
        <hr/>
        </div>


    </div>
</div>